<footer id="footer">
  <div class="footer-container container-fluid">
    <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-12 section-about">
      <h4>About</h4>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 section-navigation">
      <h4>Navigation</h4>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 section-contact">
      <h4>Contact</h4>
      </br>
      <p>774-306-8332</p>
      <p>office@moviemania.com</p>
      <p>movieMania inc.</p>
      <p>3375 Kennedy Court</p>
      <p>Cambridge, MA 02141</p>
    </div>
    <div class="col-md-1 col-sm-6 col-xs-12 section-social">
      <h4>Social media</h4>
      <ul class="social-list">
        <li class="icon-facebook"><i class="fa fa-facebook" aria-hidden="true"></i></li>
        <li class="icon-youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></li>
        <li class="icon-twitter"><i class="fa fa-twitter" aria-hidden="true"></i></li>
        <li class="icon-instagram"><i class="fa fa-instagram" aria-hidden="true"></i></li>
        <li class="icon-github"><i class="fa fa-github" aria-hidden="true"></i></li>
      </ul>
    </div>
  </div>
  <div class="clearfix"></div>
</footer>
